$opensans		:'Open Sans Regular';
$opensans-semi	:'Open Sans Semibold';
$opensans-light :'Open Sans Light';
$lora			:'Lora';
$lora-bold		:'Lora Bold';
$sans-pro-semi	:'Source Sans Pro Semibold';
$montserrat		:'Montserrat';
$roboto-l		:'Roboto Light';



