/*Open Sans Regular*/
@font-face {
  font-family: 'Open Sans';
  src: url("opensans.eot");
  src: url("opensans.eot?#iefix") format("embedded-opentype"), url("opensans.woff") format("woff"), url("opensans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*Open Sans Bold*/
@font-face {
  font-family: 'Open Sans';
  src: url("opensanssemibold.eot");
  src: url("opensanssemibold.eot?#iefix") format("embedded-opentype"), url("opensanssemibold.woff") format("woff"), url("opensanssemibold.ttf") format("truetype");
  font-weight: semibold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("opensanslight.eot");
  src: url("opensanslight.eot?#iefix") format("embedded-opentype"), url("opensanslight.woff") format("woff"), url("opensanslight.ttf") format("truetype");
  font-weight: light;
  font-style: normal; }

html, body {
  width: 100%;
  margin: 0;
  padding: 0; }

.header-bg {
  height: 714px;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-reapeat;
  background-size: cover; }
  .header-bg .header__logo--img {
    margin-top: 25px; }
  .header-bg .header__navblock__nav {
    margin-top: 30px;
    float: right; }
    .header-bg .header__navblock__nav--link {
      padding-left: 65px;
      font-size: 14px;
      font-family: "OpenSans",arial;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.69);
      line-height: 1.2; }
